{% extends 'base.html' %}
{% block title %}form{%endblock%}
{% block body %}
<h1>Simple form</h1>
<form id="ask_question_form" class="vertical-flex" action="" method=""> 
    <label for="question_text">Question</label>
		<textarea class="text-left" type="text" id="question_text" name="question_text"></textarea>
		<button type="button" value="submit">submit</button>
		<button type="button" value="refresh">refresh responses</button>
</form>
<script type="module" src="/static/js/handle-form.js"> </script>
<div id="message-history"></div>
{%endblock%}
