{% extends 'base.html' %}
{% block title %}form{%endblock%}
{% block body %}

<h1 class="page__title">Ask you question here please</h1>
<form id="ask_question_form" class="form" action="" method=""> 
	<div data-length="0" class="textarea__wrap">
		<textarea maxlength="225" oninput="event.target.parentElement.dataset.length = event.target.value.length" placeholder="Hint text" class="text-left form__textarea" type="text" id="question_text" name="question_text"></textarea>
	</div>
	<button class="form__button" type="button" value="submit">submit</button>
	<button class="form__button form__button_action_refresh" type="button" value="refresh">refresh responses</button>
	<button class="form__button form__button_action_clear" type="button" value="clear" onclick="localStorage.clear()">clear chat history</button>

</form>
<script type="module" src="/static/js/setup-form.js"> </script>
<link rel="stylesheet" href="/static/css/chat.css">
<div id="message-history"></div>

{%endblock%}
